{% extends 'base.html' %}

{% block content %}
<div class="d-flex ms-2 mt-1" style="flex-direction:column; align-items:center;">
    <h1>F1 Racing {{currentYear}}</h1>
    <div>
        <table class="table table-striped table-hover">
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Winner</th>
                <th>Winner Team</th>
            </tr>
            {% for ranking in rankings %}
            <tr>
                <th>{{ ranking.gp.date }}</th>
                <th>{{ ranking.gp.name }}</th>
                <th>{{ ranking.driver.name }}</th>
                <th>{{ ranking.driver.team.name }}</th>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}